{% extends 'admin.html.twig' -%}

{% import 'macro/asset.html.twig' as a -%}

{% block heading -%}
    {{- 'page_a_del.title'|trans -}}
{%- endblock -%}


{% block inner -%}

<p>ADMIN PAGE DEL</p>

{%- endblock inner -%}
