{% macro cancel(location) -%}
<a href="{{ location }}" class="btn btn-default btn-lg">{{ 'cancel'|trans }}</a>&nbsp;
{%- endmacro cancel %}

{% macro add(form_submit) -%}
{{ form_widget(form_submit, {'label': 'add', 'attr': {'class': 'btn-success btn-lg'}}) }}&nbsp;
{%- endmacro add %}

