{% extends 'anon.html.twig' %}

{% block title %}eLAND{% endblock %}

{% block loading_img %}{% endblock %}

{% block side_menu %}{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

{% block inner_content %}{% endblock %}
</div>
</div>
</div>
<br><br><br><br><br><br>

{% endblock content %}
