info.php
vendor
composer.phar
components
.sass-cache
.jekyll-metadata
_site
_posts
_pages
_book
node_modules
.grunt
*.epub
*.mobi
*.pdf
.env
_.env
.local
cache
.dist

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###
