{% extends 'admin.html.twig' %}

{% import 'macro/asset.html.twig' as a %}

{% block heading -%}
    {{- 'page_a_add.title'|trans -}}
{%- endblock %}


{% block inner -%}

<p>ADMIN PAGE ADD</p>

{%- endblock inner %}


