{% extends 'admin.html.twig' %}

{% import 'macro/asset.html.twig' as a %}
{% import 'macro/top_button.html.twig' as tb %}

{% block top_buttons -%}
{{- tb.add(path('page_a_add', acc_sch), 'page_a_add.title') -}}
{%- endblock top_buttons -%}

{% block inner -%}

<p>ADMIN PAGE INDEX</p>

{%- endblock inner %}


