<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid{%- block navbar_container_class -%}{%- endblock -%}">

        <div class="navbar-header">
            {%- block navbar_toggle_left -%}{%- endblock -%}
            {%- block navbar_toggle_menu -%}{%- endblock -%}

            <a href="{%- block url_index -%}#{%- endblock -%}" class="pull-left hidden-xs">
                <div class="logo">
                </div>
            </a>

            <a href="{{- block('url_index') -}}" class="navbar-brand">
                {{- block('title') -}}
            </a>
        </div>

        {%- block navbar_menu -%}{%- endblock -%}

    </div>
</div>
