{%- extends 'type_contact/a_form.html.twig' -%}

{%- import 'macro/button.html.twig' as b -%}

{%- block heading -%}
    {{- 'type_contact_del.title'|trans({'%name%': name}) -}}
{%- endblock -%}

{%- block form_fields -%}
<p class="text-danger"><strong>
    {{- 'type_contact_del.warning'|trans({'%name%': name}) -}}
</strong></p>
{%- endblock -%}

{%- block submit -%}
    {{- b.del(form.submit) -}}
{%- endblock -%}
