{%- extends 'base/main.html.twig' -%}

{%- set route_params = app.request.attributes.get('_route_params') -%}
{%- set query_params = app.request.query.all -%}
{%- set all_params = route_params|merge(query_params) -%}
{%- set route = app.request.attributes.get('_route') -%}
{%- set route_ary = route|split('_') -%}
{%- set active_menu = route_ary[1] is defined and route_ary[1] == 'self' ? route : route_ary[0] -%}
{%- set schema = app.request.attributes.get('schema') -%}
{# {%- set access = app.request.attributes.get('access') -%} #}
{%- if access is defined -%}
	{%- set acc_sch = {'schema': schema, 'access': access} -%}
{%- endif -%}

{%- set menu_el =
	menu_ary[active_menu] ??
	personal_menu_ary[active_menu] ??
	admin_menu_ary[active_menu] ??
	'undefined'
-%}

{%- block title -%}
	{{- config('systemname', schema) -}}
{%- endblock title -%}

{%- block footer_extra -%}
	<p>{{- 'eland.github'|trans({
		'%link_issues_open%': '<a href="https://github.com/eeemarv/eland/issues">',
		'%link_github_open%': '<a href="https://github.com">',
		'%link_close%': '</a>'
	})|raw -}}</p>
{%- endblock footer_extra -%}
