{% extends 'base_navbar.html.twig' %}

{% import 'macro/flash.html.twig' as f %}

{% block fontawesome_css %}{% endblock %}
{% block footable_css %}{% endblock %}
{% block fileupload_css %}{% endblock %}
{% block datepicker_css %}{% endblock %}
{% block summernote_css %}{% endblock %}
{% block leaflet_css %}{% endblock %}
{% block leaflet_label_css %}{% endblock %}
{% block swiper_css %}{% endblock %}

{% block jquery_js %}{% endblock %}
{% block bootstrap_js %}{% endblock %}
{% block base_js %}{% endblock %}
{% block typeahead_js %}{% endblock %}
{% block fileupload_js %}{% endblock %}
{% block footable_js %}{% endblock %}
{% block jssor_js %}{% endblock %}
{% block jqplot_js %}{% endblock %}
{% block datepicker_js %}{% endblock %}
{% block isotope_js %}{% endblock %}
{% block summernote_js %}{% endblock %}
{% block leaflet_js %}{% endblock %}
{% block leaflet_label_js %}{% endblock %}
{% block swiper_js %}{% endblock %}

{% block title %}eLAND{% endblock %}

{% block loading_img %}{% endblock %}

{% block side_menu %}{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

{{ f.flash() }}

{% block inner_content %}{% endblock %}

</div>
</div>
</div>
<br><br><br><br><br><br>

{% endblock content %}
